*{
    margin: 0;
    padding: 0;
}
.main-body{
    width: 100%;
    height: 710px;
    background: #f0f2f5;
}
.right-body{
    width: 50%;
    float: left;                                                
}
.left-body{  
    width: 50%;
    float: left;
}
