.logo{
    width: 300px;
    height: 106px;
    margin-top: 168px;
    padding-left: 234px;
}
.para-text{
    font-size: 28px;
    margin-top: -12px;
    line-height: 32px;
    padding-left: 262px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}